<!DOCTYPE html>
<html>
    <head>
        <!--link para a imagem de logo, ainda n tem-->
        <link rel="icon" href="img/logo.png" type="image/x-icon">
        <title> SmartWaste</title>
        <link rel="stylesheet" href="style.css">
        <style>
            /*configuração especifica dessa pagina*/
        </style>
        <script src="cadastro.js" defer></script>
    </head>
    <header>
        <!--barra superiou ou algo desse tipo-->
    </header>
    <body>
        <center>
        <!--conteudo da tela-->
            <img src="img/logo.png" > <!--link para imagem da logo-->

            <form method="POST" action="/cadastro/cadastrar">
                <div id="login-form">
                    <table>
                        <tr>
                            <th><label for="nome">NOME COMPLETO:</label></th>
                            <th><input type="text" id="nome" name="nome" required placeholder="Fulano de tal"></th>
                        </tr>
                        <tr>
                            <th><label for="cpf">CPF:</label></th>
                            <th><input type="text" id="cpf" name="cpf" required placeholder="XXX.XXX.XXX-XX"></th>
                        </tr>
                        <tr>
                            <th><label for="email">EMAIL:</label></th>
                            <th><input type="email" id="email" name="email" required placeholder="minino@ifba.edu.br"></th>
                        </tr>
                        <tr>
                            <th><label for="senha">SENHA:</label></th>
                            <th><input type="password" id="senha" name="senha" required placeholder="Digite sua senha"></th>
                        </tr>
                    </table>
                    <button type="submit">Cadastrar</a></button>

                    <p id="error"></p>
                </div>
            </form>

            <p><a th:href="@{/telaLogin.html}" class="btn btn-primary">Já possuo uma conta.</a></p>
     
        </center>
    </body>
</html>